/*=================================================================*/
/*                     BUTTONS
/*=================================================================*/
.btn {
    border-radius: 30px;
    font-family: $fonthead;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    line-height: 1;
    padding: 12px 32px;
    position: relative;

    &:focus {
        box-shadow: none;
    }
}

.btn:focus {
    outline: 0;
}

@keyframes button-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.btn-default {
    color: #FFF !important;
    background: $colordefault;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    &:hover {
        color: #FFF;
        -webkit-animation-name: button-push;
        animation-name: button-push;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
}


.btn-full {
    text-align: center;
    width: 100%;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 28px 30px;
    font-size: 18px;
    font-weight: 100;
    line-height: 0;
}

.btn-sm {
    padding: 17px 16px;
    font-size: 12px;
    line-height: 0;
}

.btn-xs {
    padding: 12px 10px;
    font-size: 12px;
    line-height: 0;
}

.btn.disabled,
.btn:disabled {
    opacity: 1;
    cursor: not-allowed;
}

.button_submit{
	transform: translate(-50%, -50%);
	overflow: hidden;
	margin-top: 2rem;
	margin-left: 105px;
	text-transform: uppercase;
	width: 205px;
	text-align: center;
}

.button_submit a{
	font-size: 0.875rem;
	text-decoration: none;
	color: #2bb573;
}

.button_submit a:after, .button_submit a:before{
	position: absolute;
	width: 0%;
	height: 0%;
	transition: .8s;
	opacity: 0;
}

.button_submit a:before {
	content: '';
	top: 0;
	left: 0;
	border-top: 1px solid #2bb573;
	border-left: 1px solid #2bb573;
	box-sizing: border-box;
}

.button_submit a:after {
	content: '';
	bottom: 0;
	right: 0;
	border-bottom: 1px solid #2bb573;
	border-right: 1px solid #2bb573;
	box-sizing: border-box;
}

.button_submit a:hover:before, .button_submit a:hover:after{
	width: 100%;
	height: 100%;
	opacity: 1;
}

.button_submit a span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -120%;
	transition: 1s;
	background: rgba(255, 255, 255, .7);
	transform: skewX(6deg);
}

.button_submit a:hover span{
	left: 120%;
}