$fonthead: 'Rubik', sans-serif; // 'Rubik', sans-serif
$fontstack: 'Rubik', sans-serif;
$fontplay: 'Playfair Display', serif;
$fonthoney: 'Honey Script', sans-serif;
$colordark: #353353;
$coloryellow: #FFD15C;
$colorpink: #FF4C60;
$colorblue: #6C6CE5;
$colordefault: #454360;
$colorgreen: #2bb573;
$colorwhite: #fff;
$colordarktranparent: #302f4e;
$colorreact: #61DAFB;

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
    -moz-transition: all $second ease-in-out;
        transition: all $second ease-in-out;
}

@font-face {
	font-family: 'Honey Script', sans-serif;
	src: url('/fonts/HoneyScript-SemiBold.ttf')
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('/fonts/TitilliumWeb-Regular.ttf')
}

@font-face {
	font-family: 'Playfair Display', serif;
	src: url('/fonts/PlayfairDisplay-Regular.ttf')
}