$width: 200px;
$x: 3;

.circles {
  width: $width;
  height: $width;
  position: relative;
  perspective: 50000px;
  color: #61DAFB;
  margin: 0 auto;
  
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 18.4%;
    height: 18.4%;
    border-radius: 100%;
    background: currentColor;
  }
  
  div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: $width / 25 solid;
    border-right: $width / 65 solid;
    border-top: $width / 25 solid transparent;
    border-radius: 100%;
    
    @for $i from 1 through $x {
      &:nth-child(#{$i}) {
        animation: anim-#{$i} 1s linear infinite;
      }
    }
  }
}

@for $i from 1 through $x {
  @keyframes anim-#{$i} {
    from {
      transform:
        rotateZ(360deg / $x * $i)
        rotateX(66deg)
        rotateZ(0deg);
    }
    to {
      transform:
        rotateZ(360deg / $x * $i)
        rotateX(66deg)
        rotateZ(360deg);
    }
  }
}

ol {
	list-style: none; 
	counter-reset: li
}

ol li:before {
	content: counter(li); 
	color: #2bb573;
	display: inline-block; 
	width: 1em;
	margin-left: -1.5em;
	margin-right: 0.5em; 
	text-align: right; 
	direction: rtl;
    font-weight: 700;
}

ol li {
	counter-increment: li
}

.spacing{
	margin-top: 1em;
}

.spacing-section{
	margin-top: 10em
}