@font-face {
	font-family: 'Honey Script', sans-serif;
	src: url('../fonts/HoneyScript-SemiBold.ttf')
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('../fonts/TitilliumWeb-Regular.ttf')
}

@font-face {
	font-family: 'Playfair Display', serif;
	src: url('../fonts/PlayfairDisplay-Regular.ttf')
}

@media (min-width: 1500px){
	
	#slide {
		margin-left: auto !important;
		opacity: 1 !important;
	}
}

@media (min-width: 960px){
	
	.container {
		max-width: 940px;
	}
}

@media screen and (max-width: 800px){

	h1{
		font-size: 1.75em;
		margin: auto;
		font-family: "Honey Script";
	}
	
	h2{
		font-size: 1.25rem;
		text-transform: uppercase;
		font-weight: 600;
		margin: auto;
	}
	
	h4{
		font-size: 0.8em;
		text-transform: uppercase;
		margin: auto;
		letter-spacing: .0625rem;
		color: #71cee6;
	}
	
	h5{
		font-size: 20px;
		text-transform: uppercase;
		margin: auto;
	}
	
	p{
		font-size: 0.8rem;
		margin: auto;
	}
	
	span {
		font-size: 0.8rem;
	}

	.col{
		flex-basis: auto;
		padding: 0 20px;
	}

	.col-2, .col-8{
		flex: auto;
		max-width: none;
	}
}

*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
    transition: margin-left 0.2s;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif

}

h1{
	font-size: 3.125rem;
	font-family: 'Playfair Display', serif;
	margin: auto;
}

h2{
	font-size: 1.75rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	margin: auto;
}

h3{
	font-size: 1.75rem;
	margin: auto;
	text-transform: uppercase;
}

h4{
	font-size: 0.8em;
	text-transform: uppercase;
	margin: auto;
	letter-spacing: .0625rem;
	color: #71cee6;
}

h5{
	font-size: 20px;
    text-transform: uppercase;
    margin: auto;
}

p{
	font-size: 0.875rem;
	margin: auto;
}

span {
	font-size: 0.875rem;
}

a{
	color: #fff;
}

a:hover{
	text-decoration: none;
	color: #2bb573;
}

ol{
	margin-top: 10px;
}

li {
	margin-top: 10px;
}

nav ul li {
	display: inline-block;
}

nav li + li {
	margin-left: 3em;
}

.centered-container{
	max-width: 600px;
	margin: auto;
	margin-top: 10em;
}

.margin-right{
	margin-right: 400px;
}

.section-header {
	z-index: 1;
	position: relative;
	margin: 0 0 3em;
	padding-bottom: 2em;
	text-align: center;
	margin-top: 5em;
}

.section-header::before {
	content: '';
	z-index: 1;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 2em;
	height: 2px;
	margin: auto;
	background-color: #CCC;
}

.margin-p{
	margin-top:20px;
}

img {
	width: 100%;
}