// Copyright

.cc-footer {
	padding-top: 3em;
	padding-bottom: 3em;
}

.cc-footer {
	margin-top: 10em;
}

.cc-footer blockquote {
	height: 2em;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	font-size: 0.8em;
	line-height: 2;
	color: #aaa;
}

.signature {
	font-family: "Honey Script", Sans-Serif;
	color: #000;
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
	line-height: 40px;
}

.copyright{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #666;
}