.header-background {
    background-image: url('../img/background.jpeg');
    height: 300px;
    background-repeat:no-repeat;
}

.info-container {
    top: 10%;
    position: absolute;
    left: 40%;
    color: #fff;
}