.header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
}

.logo{
    line-height: 100px;
    float: left;
    font-family: "Honey Script", Sans-Serif;
	color: #71cee6;
	font-size: 40px;
    display: none;
}

#top-menu{
    line-height: 100px;
}

#top-menu li{
    display: block;
}

#top-menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}

.menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu-btn{
    float: right;
    line-height: 100px;
}

#top-menu a:hover, .menu-btn:hover{
    color: #3498db;
}
  
@media screen and (max-width:800px) {
    .logo{
        display: block;
    }

    .show{
        display: block !important;
    }

    .menu-btn{
        display: block
    }

    #top-menu{
      width: 100%;
      display: none;
      height: 100vh;
      background: #333;
      text-align: center;
      padding: 80px 0;
      transition: 0.7s;
    }

  }