nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.logo{
    font-family: "Honey Script", Sans-Serif;
	color: #71cee6;
    font-size: 2rem;
    position: relative;
    //text-shadow: 2px 2px 4px #000000;
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
}

.show-menu-btn{
    font-size: 1.25rem; 
    color: #fff; //71cee6
    border: .0625rem solid rgba(255,255,255,0.3);
    height: 3.125rem;
    width: 3.125rem;
    margin-bottom: 1.5625rem;
    border-radius: 50%;
    line-height: 3.125rem;
    margin-left: 1.5625rem;
    margin-top: 1.5625rem;
}

.menu-btn-contact{
    font-size: 1.25rem;
    color: #fff;
    border: .0625rem solid rgba(255,255,255,0.3);
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    line-height: 3.125rem;
    margin-left: 1.5625rem;
}

#top-menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover{
    color: #2bb573;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.menu-item{
    display: flex;
    margin: 0;
}

.menu-item a{
    color: #7c7b7f;
    text-decoration: none;
    transition: 0.4s;
    padding: 0 0 20px 0;
    font-size: 1.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.show-menu-btn, .hide-menu-btn, .menu-btn-contact{
    display: block
}

.hide-menu-btn{
    position: absolute;
    top: 2rem;
    left: 26rem;
    font-size: 1.25rem; 
    color: #fff; //71cee6
    border: .0625rem solid rgba(255,255,255,0.3);
    height: 3.125rem;
    width: 3.125rem;
    margin-bottom: 1.5625rem;
    border-radius: 50%;
    line-height: 3.125rem;
}

#top-menu{
    position: fixed;
    width: 25rem;
    height: 100vh;
    background: #1e1d20;
    right: 110%;
    top: 0;
    padding: 130px 3.75rem 0 3.75rem;
    transition: 0.7s;
    z-index: 1;
    line-height: 1.5rem;
}

#chk:checked ~ #top-menu {
    left: 0;
    #content {
        margin-left: 250px;
    }
}

.invert{
    background: #fff;
    color: #1e1d20;
    overflow: scroll;
}

.nav-social-media ul li:first-child{
    margin-left: 0;
}

.nav-social-media ul li{
    margin-left: 1.25rem;
}

.nav-social-media ul{
    display: flex;
}

.nav-social-media a{
    color: #7c7b7f;
    text-decoration: none;
    transition: 0.4s;
    padding: 0 0 20px 0;
    font-size: 1rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.social-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: #7c7b7f;
    margin-bottom: .625rem;
    text-align: left;
}

.intro {
    text-align: left;
    color: #7c7b7f;
    font-size: 0.875rem;
}

.line-nav::after{
    content: "";
    height: .0625rem;
    background-color: rgba(255,255,255,0.15);
    position: absolute;
    width: 280px;
    left: 60px;
}
  
@media screen and (max-width:800px) {
    
    #chk:checked ~ #top-menu{
        right: 0;
    }

    #top-menu{
        width: 100%;
    }

    .menu-btn-contact{
        float: right;
        border: none;
        line-height: 3.75rem;
        margin: 0;
        color: white !important;
    }

    .show-menu-btn{
        float: left;
        border: none;
        line-height: 3.75rem;
        margin: 0;
        color: white !important;
    }

    .hide-menu-btn{
        left: 17rem;
    }

  }