.logo{
    line-height: 3.75rem;
    font-family: "Honey Script", Sans-Serif;
	color: #71cee6;
	font-size: 2rem;
    display: none;
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
}

.show-menu-btn{
    line-height: 3.75rem;
    float: left;
    font-size: 1.25rem;
    color: #71cee6;
}

.menu-btn-contact{
    line-height: 3.75rem;
    float: left;
    font-size: 1.25rem;
    color: #71cee6;
}

#top-menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover{
    color: #3498db;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.logo{
    display: contents;
}

#top-menu li{
    display: flex;
    justify-content: center;
    margin: 0;
}

.show-menu-btn, .hide-menu-btn, .menu-btn-contact{
    display: block
}

.hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

#top-menu{
    position: fixed;
    width: 25rem;
    height: 100vh;
    background: #333;
    right: 100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 2;
    line-height: 3.75rem;;
}

#top-menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
    padding: 0 10px;
}

#top-menu a {
    display: block;
    padding: 20px;
}

#chk:checked ~ #top-menu{
    left: 0;
}

.header{
    height: 900px;
    background-image: url('../img/background.jpeg');
    background-size: cover;
    color: #fff;
    padding: 0 20px;
}
  
@media screen and (max-width:800px) {
    
    #chk:checked ~ #top-menu{
        right: 0;
    }

    #top-menu{
        width: 100%;
    }

    .menu-btn-contact{
        float: right;
    }

  }