.react-logo{
    display: inline-block;
    border-radius:50%;
    border:10px solid #00d8ff;

    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.react-logo , .react-logo:before , .react-logo:after{
   position:absolute;
   display: inline-block;
   width:200px;
   height:70px;
   border-radius:50%;
   border:10px solid #00d8ff;
 }
.nucleo , .react-logo , .react-logo:before , .react-logo:after {
   display: flex;
   align-items: center;
   justify-content: center;
}
.nucleo{
   width:40px;
   height:40px;
   border-radius:100%;
   background:#00d8ff;
}

.react-logo:before , .react-logo:after{
   content:"";
}

.react-logo:after{
   transform:rotate(-57deg);
}

.react-logo:before{
   transform:rotate(57deg);
}

@keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
}

ol {
	list-style: none; 
	counter-reset: li
}

ol li:before {
	content: counter(li); 
	color: #2bb573;
	display: inline-block; 
	width: 1em;
	margin-left: -1.5em;
	margin-right: 0.5em; 
	text-align: right; 
	direction: rtl;
    font-weight: 700;
}

ol li {
	counter-increment: li
}

.spacing{
	margin-top: 1em;
}

.spacing-section{
	margin-top: 10em
}